jupyter
matplotlib
numpy
pandas
scipy
jupyterlab
jupyterlab-spellchecker
validators
Unidecode
scikit-learn
seaborn
statsmodels
plotly
flake8
python-dotenv
wordcloud
spacy
# tensorflow / tensorflow-macos # pick one and uncomment
gensim
transformers
tables